@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 40em;
  margin-top: 3em;
  border-radius: 0.5em;
  overflow: hidden;
}

header {
  background-color: #04213b;
}

header h1 {
  margin: 0;
  text-align: center;
  color: white;
  padding: 0.7em 0;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  position: relative;
  z-index: 50;
  box-shadow: 0 1.1em 0.7em -0.8em rgba(0,0,0,0.2);
  background-color: white;
}

.input-group input {
  border: none;
  margin-left: 1.5em;
}

.input-group input:focus {
  outline: none;
}

.input-group input::-webkit-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
}

.input-group input:-ms-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
}

.input-group input::-ms-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
}

.input-group input::placeholder {
  opacity: 1;
  text-transform: uppercase;
}

.input-group i {
  background-color: #037678;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  color: white;
  margin-right: 0.5em;
  box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.1);
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.task:nth-child(odd) {
  background-color: #019499;
}

.task:nth-child(odd) .check-group label {
  color: white;
}

.task:nth-child(even) {
  background-color: #c7e6e7;
}

.task:nth-child(even) .check-group label {
  color: #019499;
}

.task .check-group label {
  text-transform: capitalize;
  margin-left: 0.5em;
}

.task .task-date {
  font-size: 0.8em;
}

.task:nth-child(odd) .task-date {
  color: rgba(255,255,255,0.5);
}

.task:nth-child(even) .task-date {
  color: rgba(0,0,0,0.5);
}

.task:nth-child(odd) .task-date span {
  color: rgba(255,255,255,0.8);
}

.task:nth-child(even) .task-date span {
  color: rgba(0,0,0,0.8);
}

.task .task-date span {
  font-weight: 600;
  margin-left: 0.5em;
}

.task .check-group-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task .check-group-btns i {
  display: block;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  color: white;
}

.task .check-group-btns .edit {
  /* background-color: #037678; */
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2),
            -0.1em -0.1em 0.2em rgba(255,255,255,0.4),
            inset 0.1em 0.1em 0.2em rgba(0,0,0,0.2),
            inset -0.1em -0.1em 0.2em rgba(255,255,255,0.4);
  border-radius: 50%;
}

.task .check-group-btns .trash {
  /* background-color: #0bb5b8; */
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2),
           -0.1em -0.1em 0.2em rgba(255,255,255,0.4),
           inset 0.1em 0.1em 0.2em rgba(0,0,0,0.2),
           inset -0.1em -0.1em 0.2em rgba(255,255,255,0.4);
  margin-left: 0.5em;
  border-radius: 50%;
}